spring:
  datasource:
    url: ${DB_URL}?allowPublicKeyRetrieval=true&useSSL=false
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver

  redis:
    host: ${DB_IP}
    port: 6379
    #password: 원하면 설정기기

  jackson:
    time-zone: Asia/Seoul

mybatis:
  mapper-locations: classpath:/mapper/**/*.xml
  type-aliases-package: com.trip_gg.domain