<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trip_gg.count.CountMapper">

    <resultMap id="CountResultMap" type="com.trip_gg.count.Count">
        <id property="posts_id" column="posts_id"/>
        <result property="view_count" column="view_count"/>
        <result property="comment_count" column="comment_count"/>
        <result property="like_count" column="like_count"/>
    </resultMap>

    <select id="getCountByPostId" parameterType="int" resultMap="CountResultMap">
        SELECT posts_id, view_count, comment_count, like_count
        FROM counts
        WHERE posts_id = #{posts_id}
    </select>

    <insert id="upsertOnView" parameterType="int">
        INSERT INTO counts (posts_id, like_count, view_count, comment_count)
        VALUES (#{posts_id}, 0, 1, 0)
            ON DUPLICATE KEY UPDATE
                                 view_count = view_count + 1
    </insert>
</mapper>