<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trip_gg.mapper.PostMapper">

    <!-- 게시물 작성 -->
<!--    <insert id="insertPost" parameterType="com.trip_gg.domain.Post">-->
<!--            INSERT INTO posts (title, content, users_id, cities_id, slug, viewCount, createdAt)-->
<!--            VALUES (#{title}, #{content}, #{users_id}, #{cities_id}, #{slug}, #{viewCount}, #{createdAt})-->
<!--    </insert>-->
    <insert id="insertPost" parameterType="com.trip_gg.domain.Post">
            INSERT INTO posts (
                users_id,
                countries_id,
                cities_id,
                districts_id,
                title,
                content,
                slug,
                viewCount,
                createdAt,
                url
            )
            VALUES (
               #{users_id},
               #{countries_id},
               #{cities_id},
               #{districts_id},
               #{title},
               #{content},
               #{slug},
               #{viewCount},
               #{createdAt},
               #{url}
            )
    </insert>

    <!-- 최신 게시글 불러오기 -->
    <select id="findLatestPosts" resultType="com.trip_gg.domain.Post">
        SELECT id, title, content, users_id, cities_id, slug, viewCount, createdAt
        FROM posts
        ORDER BY createdAt DESC
            LIMIT 8
    </select>

    <!-- 인기 게시글 불러오기 -->
    <select id="findPopularPosts" resultType="com.trip_gg.domain.Post">
        SELECT id, title, content, viewCount, createdAt
        FROM posts
        ORDER BY viewCount DESC
            LIMIT 8
    </select>

    <!-- 지역별 게시글 불러오기 -->
    <select id="getPostsByCity" parameterType="String" resultType="com.trip_gg.domain.Post">
        SELECT id, title, content, users_id, cities_id, viewCount, createdAt
        FROM posts
        WHERE cities_id = #{cities_id}
        ORDER BY createdAt DESC
    </select>

    <!-- 게시글 목록 불러오기 -->
    <select id="getAllPosts" resultType="com.trip_gg.domain.Post">
        SELECT * FROM posts
            ORDER BY createdAt DESC
    </select>

    <!-- 게시글 상세 불러오기 -->
    <select id="getPostById" parameterType="long" resultType="com.trip_gg.domain.Post">
        SELECT * FROM posts WHERE id = #{id}
    </select>

</mapper>