<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trip_gg.mapper.UserMapper">

    <!-- 회원가입 -->
    <insert id="insertUser" parameterType="com.trip_gg.domain.User">
        INSERT INTO users (username, password, email, role, createdAt)
        VALUES (#{username}, #{password}, #{email}, #{role}, #{createdAt})
    </insert>

    <!-- 사용자 조회 (로그인용) -->
    <select id="findByUsername" parameterType="String" resultType="com.trip_gg.domain.User">
        SELECT id, username, password, email, role, createdAt
        FROM users
        WHERE username = #{username}
    </select>

</mapper>
